* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
  letter-spacing: 1px;
}
/* header */
.container {
  background-color: #f1e5cb;
}
.nav-menu-mb {
    display: none;
} 
.header {
  width: 100%;
}
.nav {
  width: 100%;
  display: flex;
  font-weight: 600;
}
.logo {
  display: flex;
  align-items: center;
  width: 20%;
  background-color: #ecd619;
  padding: 0 40px;
}
.logo-image {
  width: 50px;
  height: 100%;
  overflow: hidden;
}
.logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-tittle {
  font-size: large;
  margin-left: 20px;
}
.logo-tittle h3 {
  font-family: "Dancing script", cursive;
  font-size: large;
}
.menu {
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #bd2031;
}
.menu > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.menu > ul > li:hover {
  color: #ecd619;
}
.menu > ul > li {
  color: #ffff;
  display: flex;
  position: relative;
  padding: 10px 20px;
}
.menu ul li i {
  font-size: small;
  margin-left: 10px;
}
/* menu arrow */
.fa-chevron-downs {
  font-size: xx-large;
  margin: 5px;
}
.historical-line,
.data,
.figure {
  padding: 10px;
  position: absolute;
  top: 100%;
  background: #bd2031;
  font-size: small;
  display: none;
}
.historical-line li,
.data li,
.figure li {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffff;
}
.historical-line li:hover,
.data li:hover,
.figure li:hover {
  color: #ecd619;
}
.hover-historical:hover .historical-line {
  display: block;
}
.hover-data:hover .data {
  display: block;
}
.hover-figure:hover .figure {
  display: block;
}
.menu > ul .fa-search {
  font-size: large;
}
.search {
  position: relative;
}
.input-search {
  position: absolute;
  top: 100%;
  left: -100%;
  background-color: #bd2031;
  padding: 5px;
  margin: 15px -30px;
  border-radius: 10px;
  display: none;
}
.input-search-mb {
  display: none;
}
.input-search input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}
/* main-container */
.about {
  display: flex;
  width: 100%;
  margin: 50px 0;
}
.about-image {
  width: 50%;
  height: 500px;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-content {
  width: 50%;
  height: 500px;
}
.about-title {
  margin-bottom: 30px;
}
.about-text {
  padding: 0 15%;
}
.about-text p {
  line-height: 1.5;
  font-size: 1.1rem;
  line-height: 1.8;
}
.about-title h2 {
  text-align: center;
  font-size: 2rem;
}
.line-about {
  width: 10%;
  height: 5px;
  border: 1px solid;
}
.main-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.history-line {
  margin-bottom: 150px;
}
.history-line-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 40px 0;
  font-size: x-large;
}
/* slide */
.slide {
  border: 1px solid  #f8db98; ;
  position: relative;
  height: 400px;
  border-radius: 20px;
}
.slide-arrown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 65%;
  z-index: 9;

}
.slide-arrown div {
  cursor: pointer;
  margin: 0 20px;
}
.slide-arrown div i {
  font-size: x-large;
}
.slide-arrown div i:hover {
  color: #ffff;
}
.slide-menu {
  height: 20%;
  padding: 20px 0;
  border-bottom: dashed;
  border-width: 1px;
  scroll-behavior: smooth;
  overflow: auto;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide-menu h3 {
  flex: 1 0 25%;
  margin: 0 25px;
  font-size: 15px;
  color: #a7adad;
}
.slide-content {
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.5);
}
.background-slide-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background-slide-content img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-bottom-left-radius:20px;
  border-bottom-right-radius: 20px;
}
.slide-content-inner {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 20%;
  padding: 50px 200px;
}
.slide-image,
.slide-text {
  height: 100%;
  width: 50%;
  overflow: hidden;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 0 20px;
}
.slide-text {
  color: #ffff;
}
.slide-text p {
  transform: translateY(50%);
}
.slide-image {
  border-radius: 20px;
}
.slide-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
/* timeline */
.timeline-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}
.timeline-title {
  width: 100%;
  text-align: center;
  margin: 50px 0;
  font-size: xx-large;
}
.timeline {
  width: 100%;
  height: 90%;
}
.line-middle {
  width: 10px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 7%;
}

.timeline-left {
  width: 50%;
  padding-left: 200px;
}
.timeline-right {
  width: 50%;
  padding-right: 200px;
}
.text-box {
  border: 1px solid;
  width: 100%;
  line-height: 1.5;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  background-color: #c13445;
}
.timeline-title-inner {
  width: 40%;
  height: 10%;
  color: #ffff;
  text-align: center;

}
.timeline-title-inner h3 {
  text-transform: uppercase;
}
.timeline-title-inner small {
  display: block;
}
.timeline-title-inner a {
  width: 50%;
  margin-left: 22%;
  color: #ffff;
  display: block;
  margin-top: 10%;
  border-radius: 20px;
  border: 1px solid;
}
.timeline-title-inner a:hover {
  background-color: #a7adad;
  color: #bd2031;
}
.timeline-image {
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.timeline-background {
  width: 100%;
  height: 100%;
}
.timeline-background img {
  width: 100%;
  height: 100%;
}
.timeline-inner {
  width: 60%;
  height: 50%;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 21%;
}
.timeline-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* active timeline */
.active {
  transform: none;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.timeline-box:nth-child(odd) {
  margin-left: -30%;
}

.timeline-box:nth-child(even) {
  margin-left: 80%;
}

.active:nth-child(odd) {
  transform: translate3d(350px, 0, 0);
}

.active:nth-child(even) {
  transform: translate3d(-340px, 0, 0);
}
/* herro */
.herro-container {
  position: relative;
}
.herro-title-line {
  width: 20%;
  height: 3px;
  background-color: #bd2031;
}
.herro-title {
  text-align: center;
  margin: 20px 0;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.herro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.herro-card {
  width: 33%;
  height: 400px;
  padding: 20px 20px;
}
.herro-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.herro-image:hover img {
  transition: all 0.3s ease-in-out;
  scale: 1.1;
}
.herro-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.hero-hover {
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 66, 66, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 0;
}
.herro-content {
  padding: 10px;
  border-radius: 20px;
  color: #ffffff;
  height: 100%;
}
.hero-hover:hover p {
  opacity: 1;
}
.hero-hover:hover .herro-content {
  border: 1px solid;
  transition: all 0.3s ease-in-out;
}
.herro-content p {
  padding: 30px 0;
  height: 80%;
  line-height: 1.5;
  opacity: 0;
  color: #ffffff;
  transition: all 0.3s ease-in;
  font-size: large;
}
.herro-content h3 {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: 1px 2px 2px #ff1c6b;
}

/* footer */
.footer {
  width: 100%;
  border-top: 1px solid  #f8db98; ;
  text-align: center;
  height: 100px;
  line-height: 2;
  padding: 20px 0;
  background-color: #f1e5cb;
}
.footer-icon i {
  padding: 0 10px;
}
